.page-not-found {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-color);
}

.page-not-found__title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: var(--text-emph-color);
}

.page-not-foud__brief {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 24px;
    color: var(--text-emph-color);
    opacity: .5;
}

.page-not-found__link {
    margin: 0;
    margin-top: 100px;
    padding: 15px;
    text-decoration: none;
    color: var(--dark-color);
    border-radius: 6px;
    border: 4px solid var(--text-emph-color);

    background: linear-gradient(to left, var(--text-emph-color) 50%, transparent 50%) right;
    background-size: 205% 100%;
    transition: all .5s ease-out;
}

.page-not-found__link:hover {
    cursor: pointer;
    background-position: left;
    color: var(--text-emph-color);
}