.roster {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.roster__title {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    color: var(--highlight-color);
    text-shadow: var(--warcraft-button-text-outline);
    font-size: var(--h2-font-size);
}

.roster__characters-container {
    z-index: 0;
    width: 100%;
    display: flex;
    border-radius: 6px;
    outline: var(--warcraft-button-outline);
    transition: .2s;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);

}

.roster__characters-container_type_raid {
    height: calc(((var(--card-height) + 3px) * 4) - 3px);
}
.roster__characters-container_type_mythic-plus {
    height: var(--card-height);
}

.roster__add-btn {
    z-index: -1;
    width: 60px;
    height: 100%;
    background-color: var(--main-color);
    border: var(--warcraft-button-border);
    outline: var(--warcraft-button-outline);
    box-shadow: var(--warcraft-button-box-shadow);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: .2s ease-out;
    font-size: calc(var(--p-font-size));
    color: var(--warcraft-button-text-color);
    text-shadow: var(--warcraft-button-text-outline);
}

.roster__add-btn:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.roster__list {
    margin: 0;
    padding: 0;
    width: calc((var(--card-width) + 3px) * 5);
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: max-content;
    list-style: none;
    gap: 3px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.roster__element {
    margin: 0;
    padding: 0;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    transition: .2s;
    z-index: 2;
    border-radius: 3px;
}

.roster__element:hover {
    z-index: 3;
    scale: 1.2;
    border-radius: 6px;
    outline: var(--warcraft-button-outline);
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}

.roster__delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
    background-image: url('../../images/delete.svg');
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: rotate(60deg);
    transition: .2s linear .1s;
    visibility: hidden;
}

.roster__delete-btn:hover {
    cursor: pointer;
}

.roster__element:hover .roster__delete-btn {
    visibility: visible;
    transform: rotate(0);
    opacity: .9;
}

.roster__role {
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url('../../images/role_undefined.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.roster__avatar {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 70%;
}

.roster__info {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: unset;
}

.roster__name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: calc(var(--p-font-size) + 1px);
}

.roster__ilvl {
    margin: 0;
    padding: 0;
    font-size: calc(var(--p-font-size) - 2px);
}

.roster__info-panel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--main-color-trans);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.roster__info-element {
    display: flex;
    gap: 5px;
    align-items: center;
}

.roster__info-number {
    font-size: var(--p-font-size);
    color: var(--text-color);
}

.roster__info-text {
    font-size: var(--p-font-size);
    color: var(--text-color);
}

.roster__info-role-icon {
    width: 35px;
    height: 35px;
    background-image: url(../../images/role_undefined.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media all and (max-width:1230px) {
    .roster__title {
        margin-bottom: 10px;
    }
    
    .roster__add-btn {
        width: 50px;
    }

    .roster__info-role-icon {
        width: 30px;
        height: 30px;
    }
}

@media all and (max-width:1030px) {
    .roster__info-role-icon {
        width: 25px;
        height: 25px;
    }
    .roster__role {
        width: 20px;
        height: 20px;
    }

    .roster__delete-btn {
        width: 18px;
        height: 18px;
    }
}

@media all and (max-width: 800px) {
    .roster__add-btn {
        width: 35px;
    }

    .roster__role {
        width: 15px;
        height: 15px;
    }

    .roster__info-role-icon {
        width: 20px;
        height: 20px;
    }

    .roster__delete-btn {
        width: 10px;
        height: 10px;
    }
}

.roster__role_type_tank {
    background-image: url('../../images/role_tank.png');
}

.roster__role_type_healing {
    background-image: url('../../images/role_healer.png')
}

.roster__role_type_dps {
    background-image: url('../../images/role_dps.png')
}

.roster__info-role-icon_type_tanks {background-image: url('../../images/role_tank.png');}
.roster__info-role-icon_type_healers {background-image: url('../../images/role_healer.png');}
.roster__info-role-icon_type_dps {background-image: url('../../images/role_dps.png');}