.raid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 40px 0;
}

@media all and (max-width: 700px) {
    .raid {
        gap: 15px;
    }
}

@media all and (max-width: 645px) {
    .section_type_raid {
        flex-direction: column;
    }
}