.raid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    grid-area: content;

    height: calc(100vh - var(--header-height));
    position: relative;
    align-items: center;
    overflow: hidden;
    transition: 1s;
}

@media all and (max-width: 1600px) {
    .raid {
        height: auto;
        padding: 30px 0;
    }
}

@media all and (max-width: 700px) {
    .raid {
        padding: 15px 0;
        gap: 15px;
    }
}

@media all and (max-width: 645px) {
    .section_type_raid {
        flex-direction: column;
    }
}