.sidebar {
    z-index: 2;
    width: 100%;
    max-width: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: 1s;
    box-shadow: 6px 0px 8px -5px rgba(0,0,0,0.75);
    background-color: var(--main-color);
}

.sidebar::before {
    background: rgba(68,47,38,.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 5px;
}

.sidebar::after {
    background: rgba(21,13,9,.8);
    right: -1px;
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    width: 2px;
}

.sidebar_hidden {
    left: -90px !important;
}

.sidebar__arrow {
    top: 0;
    left: 90px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateY(25%);
    opacity: 0;
    /* transition: opacity .3s ease-out; */
    border: none;
    background-color: unset;
    background-image: url('../../images/arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar__element-list {
    position: fixed;
    top: 50%;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: inherit;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 40px;
    transform: translateY(-50%);
    transition: 1s;
}

@media all and (min-width: 1920px) {
    .sidebar__element-list {
        left: calc((100vw - 1920px)/2);
    }
}

.sidebar__element {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
}

.sidebar__element::after, .sidebar__element::before {
    background: rgba(68,47,38,.5);
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 2px;
}

.sidebar__element::after {
    background: rgba(21,13,9,.8);
    top: auto;
    bottom: -2px;
}

.sidebar__btn {
    background-color: transparent;
    color:  #f8b700;
    transition: .2s;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__btn:hover {
    cursor: pointer;
    color: white;
    opacity: .9;
    background-color: var(--main-color-hover);
}

.sidebar__btn_clicked {
    border-radius: 0% !important;
    color: white;
    opacity: .6;
    background-color: var(--main-color-hover);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.6);
    position: relative;
}