.raid {
    width: calc(100vw - 90px);
    height: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s;
    position: relative;
    overflow: hidden;
}

.sidebar.sidebar_hidden ~ .raid {
    width: 100%;
}