.home {
    --hover-background: hsl(218, 24%, 20%);

    background-color: var(--dark-color);
    width: 100%;
    max-width: 1920px;
    min-height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% 40%;
    grid-template-areas:
        'content content content'
        'button1 link button2';
}

.home__brief {
    grid-area: content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: var(--h2-font-size);
    padding: 25px;
    color: white;
    background-image: url('../../images/home-pic.jpg');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.home__brief::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

.home__button {
    grid-area: button1;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    font-size: 20px;
    color: white;
    box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, .3);
}

.home__button:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    box-shadow: none;
    color: var(--highlight-color);
}

.home__button:last-of-type {
    grid-area: button2;
}

.home__link {
    grid-area: link;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    font-size: 20px;
    color: white;
}

.home__link:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    color: var(--highlight-color);
}