.brief {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-emph-color);
}

.brief__container {
  width: 65%;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.brief__title {
  display: inline-block;
  border-radius: 6px;
  margin: 0;
  padding: 5px 30px;
  font-size: calc(var(--h1-font-size));
  color: var(--dark-color);
  background-color: var(--highlight-color);
  font-weight: 700;
}

.brief__text-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  padding: 20px;
}

.brief__text {
  margin: 0;
  padding: 0;
  line-height: 130%;
  color: white;
  font-size: calc(var(--p-font-size));
}

.brief__emph-text {
  color: var(--highlight-color);
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .brief__container {
    width: 80%;
    padding: 35px 0px;
    gap: 35px;
  }

  .brief__title {
    padding: 5px 15px;
  }

  .brief__text-container {
    padding: 10px;
    gap: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .brief__container {
    width: 90%;
    padding: 30px 0px;
    gap: 30px;
  }
}
