.roster {
    position: relative;
    display: grid;
    width: fit-content;
    column-gap: 5px;
    grid-template-columns: 1fr max-content max-content;
    grid-template-areas:
        'title ilvl delete-button'
        'characters characters characters'
        'infopanel infopanel infopanel';
}

.roster_type_raid {
    grid-template-rows:
        max-content calc(((var(--card-height) + 3px) * 4) + 9px) max-content;

}

.roster_type_mythic-plus {
    grid-template-rows:
        max-content calc(var(--card-height) + 12px) max-content;
}

.roster__title {
    grid-area: title;
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 10px;
    font-size: var(--h2-font-size);
    line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.roster__note-container {
    display: flex;
    opacity: .3;
    transform: translateY(20%);
    transition: .2s ease-out;
    background-color: var(--dark-emph-color);
    border-radius: 10px 10px 0 0;
    box-shadow: var(--box-shadowS);
    z-index: 0;
}

.roster:hover .roster__note-container {
    opacity: 1;
    transform: translateY(0);
}

.roster__ilvl {
    grid-area: ilvl;
    color: white;
    margin: 0;
    padding: 0;
    font-size: var(--p-font-size);
    margin: auto 10px;
    user-select: none;
}

.roster__characters {
    grid-area: characters;
    margin: 0;
    padding: 6px;
    width: calc((var(--card-width) + 3px) * 5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: max-content;
    list-style: none;
    gap: 3px;
    border-radius: 6px;
    background-color: var(--dark-emph-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.roster__add-character-button {
    outline: none;
    border: 1px dashed white;
    border-radius: 6px;
    background-color: transparent;
    background-image: url('../../images/add-button-white.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    opacity: .3;
    transition: .2s;
    width: var(--card-width);
    height: var(--card-height);
}

.roster__add-character-button:hover,
.roster__add-character-button:focus {
    cursor: pointer;
    opacity: .7;
    background-size: 40%;
}

.roster__delete-button {
    grid-area: delete-button;
    width: 25px;
    height: 25px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-image: url('../../images/remove-icon.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .2s;
}

.roster:hover .roster__delete-button {
    opacity: .3;
}

.roster__delete-button:hover,
.roster__delete-button:focus {
    opacity: .7 !important;
    cursor: pointer;
    background-size: 80%;
}

@media screen and (max-width: 800px) {
    .roster__delete-button {
        width: 17px;
        height: 17px;
        opacity: .5;
        visibility: visible;
    }

    .roster_type_raid {
        grid-template-rows:
            max-content calc(((var(--card-height) + 3px) * 4) + 3px) max-content;
    
    }
    
    .roster_type_mythic-plus {
        grid-template-rows:
            max-content calc(var(--card-height) + 6px) max-content;
    }

    .roster__characters {
        padding: 3px;
    }
}

@media all and (max-width: 500px) {
    .roster__note-container {
        transform: unset;
        opacity: 1;
    }

    .roster__title {
        margin-bottom: 5px;
    }

    .roster:hover .roster__delete-button {
        opacity: .5;
    }
}