.rosters-skeleton {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  align-items: center;
  background-color: #c6c6c6;
  border-radius: 3px;
  opacity: 1;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.3);
  animation: bodyAnimation 2s infinite linear;
}

.rosters-skeleton__line {
  margin-top: 6%;
  width: 80%;
  height: 12%;
  border-radius: 6px;
  background: linear-gradient(90deg, #808080, #a0a0a0, #808080);
  background-size: 200% 100%;
  animation: lineAnimation 1.5s infinite ease-in;
}

.rosters-skeleton__line:first-of-type {
  width: 100%;
  margin-top: 0;
  border-radius: 0%;
  height: 70%;
}

@keyframes bodyAnimation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes lineAnimation {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}
