:root {
    background-color: var(--dark-color);
    /*Harbor palette*/
    --dark-color: #1f2632;
    --dark-emph-color: #27303f;
    --text-emph-color: #F5DDDD;
    --highlight-color: #f27f21;
    --highlight2-color: #EB5E28;

    /*Font sizes*/
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --p-font-size: 16px;

    /*header height*/
    --header-height: 100px;

    /*close-button sizes*/
    --close-button-width: 32px;
    --close-button-height: 32px;

    /*сharacters__element width and height*/
    --card-width: 80px;
    --card-height: 110px;
}

@media all and (max-width: 1600px) {
    :root {
        --header-height: 90px;

        --card-width: 70px;
        --card-height: 100px;
    }
}

@media all and (max-width:1360px) {
    :root {
        --h1-font-size: 28px;
        --h2-font-size: 20px;
    }
}

@media all and (max-width:1260px) {
    :root {
        --h1-font-size: 24px;
        --p-font-size: 14px;

        --header-height: 80px;

        /* --card-width: 70px;
        --card-height: 100px; */
    }
}

@media all and (max-width:1030px) {
    :root {
        --h1-font-size: 22px;
        --h2-font-size: 18px;
        --p-font-size: 12px;

        --header-height: 70px;

        --card-width: 60px;
        --card-height: 90px;
    }
}

@media all and (max-width: 800px) {
    :root {
        --h1-font-size: 20px;
        --h2-font-size: 16px;
        --p-font-size: 10px;

        --header-height: 60px;

        --card-width: 50px;
        --card-height: 80px;

        --close-button-width: 23px;
        --close-button-height: 23px
    }
}

@media all and (max-width: 500px) {
    :root {
        --h1-font-size: 16px;
        --h2-font-size: 14px;
        --p-font-size: 10px;

        --header-height: 40px;

        --card-width: 50px;
        --card-height: 80px;

        --close-button-width: 23px;
        --close-button-height: 23px
    }
}