.roster-info-panel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--main-color-trans);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.roster-info-panel__element {
    display: flex;
    gap: 5px;
    align-items: center;
}

.roster-info-panel__number {
    font-size: var(--p-font-size);
    color: var(--text-color);
}

.roster-info-panel__text {
    font-size: var(--p-font-size);
    color: var(--text-color);
}

.roster-info-panel__role {
    width: 35px;
    height: 35px;
    background-image: url(../../images/role_undefined.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.roster-info-panel__role_type_tanks {background-image: url('../../images/role_tank.png');}
.roster-info-panel__role_type_healers {background-image: url('../../images/role_healer.png');}
.roster-info-panel__role_type_dps {background-image: url('../../images/role_dps.png');}