:root {
    /*Basic color palette*/
    --main-color: hsl(18, 35%, 10%);
    --main-color-hover: hsl(18, 29%, 14%);
    --main-color-trans: hsla(18, 35%, 10%, 40%);
    --secondary-color: hsl(17, 33%, 24%);
    --text-color: hsl(20, 6%, 90%);
    --main-light-color: hsl(18, 41%, 39%);
    --highlight-color: hsl(35, 100%, 55%);

    /*Warcraft button styles*/
    --warcraft-button-border: 2px solid #200a0a;
    --warcraft-button-outline: 1px solid #5c5552;
    --warcraft-button-background-color: #740507;
    --warcraft-button-box-shadow: 0px 0px 10px 0px black, inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    --warcraft-button-box-shadow-S: 0px 0px 3px 0px black, inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    --warcraft-button-text-color: #f8b700;
    --warcraft-button-text-outline: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    --warcraft-button-background-color-highlight: #970a0c;

    /*Font sizes*/
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --p-font-size: 16px;

    /*header height*/
    --header-height: 100px;

    /*сharacters__element width and height*/
    --card-width: 100px;
    --card-height: 120px;
}

@media all and (max-width:1340px) {
    :root {
        --header-height: 80px;

        --card-width: 80px;
        --card-height: 100px;
    }
}