.mythic-plus {
    margin: 40px 0;
    display: grid;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - 140px);
    justify-content: center;
    align-content: space-around;
    grid-template-columns: repeat(auto-fit, calc((var(--card-width) + 3px) * 5));
    grid-auto-rows: max-content;
    gap: 50px;
    transition: .2s;
    position: relative;
    grid-auto-rows: minmax(150px, max-content);

}

@media all and (max-width: 1030px) {
    .mythic-plus {
        gap: 30px;
    }
}

@media all and (max-width:800px) {
    .mythic-plus {
        margin: 20px 0;
        gap: 20px;
    }
}