.guild-header {
  width: 90%;
  max-width: 1920px;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  position: relative;
}

.guild-header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5px;
}

.guild-header__title-wrapper {
  position: relative;
  width: max-content;
}

.guild-header__title {
  margin: 0;
  padding: 0;
  color: var(--highlight-color);
  font-size: var(--h1-font-size);
  width: max-content;
  line-height: 100%;
}

.guild-header__brief {
  margin: 0;
  padding: 0;
  color: white;
  font-size: var(--p-font-size);
}

.guild-header__menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

.guild-header__button {
  margin: 0;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  outline: none;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.5;
  transition: 0.2s;
}

.guild-header__button:hover,
.guild-header__button:focus {
  cursor: pointer;
  opacity: 1;
}

.guild-header__tooltip {
  color: white;
  position: absolute;
  display: inline-block;
  width: max-content;
  margin: 0;
  padding: 0;
  font-size: calc(var(--p-font-size) - 2px);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.guild-header__button_type_delete {
  background-image: url("../../images/GuildHeader-images/delete-icon.svg");
}

.guild-header__button_type_delete .guild-header__tooltip {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  bottom: 80%;
}

.guild-header__button_type_delete:hover .guild-header__tooltip {
  bottom: 110%;
  opacity: 0.7;
  visibility: visible;
}

.guild-header__button_type_link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 105%;
  background-image: url("../../images/GuildHeader-images/link-icon.svg");
}

.guild-header__button_type_link .guild-header__tooltip {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 80%;
}

.guild-header__button_type_link:hover .guild-header__tooltip {
  left: 110%;
  opacity: 0.7;
  visibility: visible;
}

@media all and (max-width: 1030px) {
  .guild-header__button {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 800px) {
  .guild-header__menu {
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .guild-header__menu {
    gap: 10px;
  }
}
