:root {
    /*Harbor palette*/
    --dark-color:  #1f2632;
    --dark-emph-color: #27303f;
    --text-emph-color: #F5DDDD;
    --highlight-color: #f27f21;

    /*Font sizes*/
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --p-font-size: 16px;

    /*header height*/
    --header-height: 100px;

    /*—Åharacters__element width and height*/
    --card-width: 100px;
    --card-height: 120px;
}

@media all and (max-width: 1600px) {
    :root {
        --header-height: 90px;

        --card-width: 90px;
        --card-height: 110px;
    }
}

@media all and (max-width:1360px) {
    :root {
        --h1-font-size: 28px;
        --h2-font-size: 20px;
    }
}

@media all and (max-width:1230px) {
    :root {
        --h1-font-size: 24px;
        --p-font-size: 14px;

        --header-height: 80px;
        
        --card-width: 70px;
        --card-height: 90px;
    }
}

@media all and (max-width:1030px) {
    :root {
        --h1-font-size: 22px;
        --h2-font-size: 18px;
        --p-font-size: 12px;

        --header-height: 70px;
        
        --card-width: 60px;
        --card-height: 80px;
    }
}

@media all and (max-width: 800px) {
    :root {
        --h1-font-size: 20px;
        --h2-font-size: 16px;
        --p-font-size: 10px;

        --header-height: 60px;
        
        --card-width: 50px;
        --card-height: 70px;
    }
}